* {
    margin:0;
    padding:0;
}
.logo{
    margin-top:25px;
}
.stores{
    margin-left:200px;
    float:left;
}
.stores_left{
    float:left;
}
.stores_right{
    float:right;
}
.stores_img img{
    width:200px;
    height:200px;
    border-style:solid;
    border-width:1px;
    border-radius:100%;
}
.stores_name{
    margin:10px 0 0 40px;
    color:#ff6600;
}
.stores_intro{
    margin:0 0 -5px 40px;
}
.stores_status{
    margin:0 0 0 40px;
}
.stores_caozuo{
    margin:0 0 0 40px;
}


.goods{
    display:block;
    float:left;
}
.good{
    width:230px;
    height:310px;
    float:left;
    border-style:solid;
    border-width:1px;
    margin-left:130px;
    margin-top:5px;
    margin-right:-100px;
    padding:40px 0 5px 80px;
    display:block;
}
.good a{
    text-decoration:none;
}
.good img{
    width:150px;
    height:150px;
}
.pinpai{
    margin-top:30px;
    margin-left:40px;
    color:red;
}
.youhui{
    margin-left:-20px;
}
.jiage{
    margin-left:50px;
}
.xiangqing{
    margin-left:30px;
}