*{
   margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
}
.top{
    background-color: white;
}
li{
    list-style: none;
    float: left;
    margin-top: 40px;
}
.to1{
    text-decoration: none;
    color: black;

    font-size: 17px;
}
.nb_top{
    margin-top: 10px;
}
.nb0{
    background-color: white;
}
.nb1{
    font-size: 22px;
    color: #777 ;
    margin-top: 30px;
    font-weight: bolder;
    margin-left: 90px;
}
.nb2{
    font-size: 17px;
    margin-left: 90px;
    color: #444;
    margin-top: 10px;


}
.nb2_1{
    width: 300px;
    height: 35px;
    border-radius: 10px;
}
.nb2_2{
    margin-left: 90px;
}
.nb3{
    width: 400px;
    height: 400px;
    margin-left: 90px;
}
