
.mi_top{
    font-size: 24px;
    color: #777 ;
    margin-top: 30px;
    font-weight: bolder;
    margin-left: 300px;
}
.mi0{
    font-size: 18px;
    color: #555;
    margin-left: 300px;
    margin-top: 20px;
    font-weight: bolder;

}
.xm1{
    width: 300px;
    height: 40px;
}

.mi1{
    width: 600px;
    height: 300px;
    margin-left: 150px;
    margin-top: 10px;
}
.mi2 {
    width: 120px;
    height: 40px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #2aabd2;
    color: white;
    font-size: 16px;
}






