<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {% if query %}
            <h3>搜索结果如下：</h3>
            {% for result in page.object_list %}
            <a href="/goods/{{ result.object.id }}/detail/">

                <img src="/static/goods/{{result.object.goodsType.cover}}" alt="这是图片">
                <!--<p>{{result.object.goodsType.cover}}</p>-->
                {{ result.object.name }}
                {{ result.object.price }}
                {{ result.object.intro }}
                <br>
                </a><br/>
                {% empty %}
                <p>对不起，没找到您搜索的宝贝</p>
                {% endfor %}
            {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                {% endif %}
                    &laquo; 上一页
                {% if page.has_previous %}
                    </a>
                {% endif %}
                |
                {% if page.has_next %}
                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                {% endif %}
                    下一页 &raquo;
                {% if page.has_next %}

                </a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    </body>
</html>