<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	{% load static %}
		<!--<script src="{% static 'js/lib/jquery2.2.4/jquery-2.2.4.js' %}"></script>-->
		<!--<script src="{% static '/js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>-->
    <link rel="stylesheet" href="/static/stores/css/style.css">
    <link rel="stylesheet" href="/static/stores/css/hao.css">
</head>
<body>
<!-- start header -->
	<!-- 加载静态资源 -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="http://www.mi.com/" target="_blank">小米商城</a></li>
						<li>|</li>
						<li><a href="">MIUI</a></li>
						<li>|</li>
						<li><a href="">米聊</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">多看阅读</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">小米商城移动版</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="">购物车</a></div>
					<div class="fr">
						<ul>
                            {% if request.user.is_active %}
								<li><a href="{% url 'user:user_info' %}" target="_blank">欢迎{{user}}登录系统</a></li>
								<li>|</li>
								<li><a href="{% url 'user:user_logout'%}" target="_blank" >退出</a></li>
								<li><a href="{% url 'user:register'%}" target="_blank" >注册</a></li>
                                <li><a href="/stores/list/">我的店铺</a></li>
							{% else %}
								<li><a href="{% url 'user:login'%}" target="_blank" >登录</a></li>
								<li><a href="{% url 'user:register'%}" target="_blank" >注册</a></li>
							{% endif %}
							<!--<li><a href="/user/login/" target="_blank">登录</a></li>-->
							<!--<li>|</li>-->
							<!--<li><a href="/user/register/" target="_blank" >注册</a></li>-->
							<!--<li>|</li>-->
							<!--<li><a href="/stores/list/">我的店铺</a></li>-->
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="/" target="_blank">
                <div class="logo fl" style="margin-top:25px">
                    <img src="/static/goods/logo_top.png" alt="">
                </div>
            </a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a href="./liebiao.html" target="_blank">小米手机</a></li>
					<li><a href="">红米</a></li>
					<li><a href="">平板·笔记本</a></li>
					<li><a href="">电视</a></li>
					<li><a href="">盒子·影音</a></li>
					<li><a href="">路由器</a></li>
					<li><a href="">智能硬件</a></li>
					<li><a href="">服务</a></li>
					<li><a href="">社区</a></li>
				</ul>
			</div>
			<div class="search fr">
				<form action="" method="post">
					<div class="text fl">
						<input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
					</div>
					<div class="submit fl">
						<input type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</form>
				<div class="clear"></div>
			</div>
		</div>

		<h1 class="nbq">开业大吉</h1>
		<form action="{% url 'stores:add' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="nbw">店铺名称：<input type="text" name="name" class="nbw1" autocomplete="off"> <br></div>
		<div class="nbw">店铺封面：<input type="file" name="cover" id="cover" > <br></div>
		<div class="nbw">店铺介绍: </div>
		<div><textarea name="intro" id="intro" cols="30" rows="10" class="nbe"></textarea> <br></div>
		<input type="submit" value="开业大吉" class="nbr">
		</form>



</body>
</html>