<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上架商品</title>
    {% load static %}
    <script src="{% static 'js/lib/jquery2.2.4/jquery-2.2.4.min.js' %}"></script>
    <!--<script src="{% static '/js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>-->
    <!--<script src="/static/js/lib/jquery2.2.4/jquery-2.2.4.min.js}"></script>-->
	<link rel="stylesheet" href="/static/goods/css/hao.css">
    <link rel="stylesheet" href="/static/stores/css/detail.css">
    <!--<link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="/static/stores/css/style.css">
</head>
<body>
<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="http://www.mi.com/" target="_blank">小米商城</a></li>
						<li>|</li>
						<li><a href="">MIUI</a></li>
						<li>|</li>
						<li><a href="">米聊</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">多看阅读</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">小米商城移动版</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="">购物车</a></div>
					<div class="fr">
						<ul>
							{% if request.user.is_active %}
								<li><a href="{% url 'user:user_info' %}" target="_blank">欢迎{{user}}登录系统</a></li>
								<li>|</li>
								<li><a href="{% url 'user:user_logout'%}" target="_blank" >退出</a></li>
								<li><a href="{% url 'user:register'%}" target="_blank" >注册</a></li>
                                <li><a href="/stores/list/">我的店铺</a></li>
							{% else %}
								<li><a href="{% url 'user:login'%}" target="_blank" >登录</a></li>
								<li><a href="{% url 'user:register'%}" target="_blank" >注册</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="/" target="_blank">
                <div class="logo fl" style="margin-top:25px">
                    <img src="/static/goods/logo_top.png" alt="">
                </div>
            </a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a href="">小米手机</a></li>
					<li><a href="">红米</a></li>
					<li><a href="">平板·笔记本</a></li>
					<li><a href="">电视</a></li>
					<li><a href="">盒子·影音</a></li>
					<li><a href="">路由器</a></li>
					<li><a href="">智能硬件</a></li>
					<li><a href="">服务</a></li>
					<li><a href="">社区</a></li>
				</ul>
			</div>
			<div class="search fr">
				<form action="" method="post">
					<div class="text fl">
						<input type="text" class="shuru" style="fontsize:20px;"  placeholder="小米6&nbsp;小米MIX现货">
					</div>
					<div class="submit fl">
						<input type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
<!-- end banner_x -->
    <h1 class="mi_top">上架商品</h1>
    <div>
        <form action="{% url 'goods:add' store_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mi0">商品名称：<input type="text" name="name" id="name" class="xm1"> <br></div>
            <div class="mi0">商品单价：<input type="number" name="price" class="xm1"> <br></div>
            <div class="mi0">商品库存：<input type="number" name="stock" class="xm1"> <br></div>
            <!--<input type="hidden" name="store" value="{{store.id}}"> <br>-->
            <div class="mi0">商品图片：<input type="file" name="cover"><button>继续添加</button> <br></div>
            <div class="mi0">商品类型：
				<select name="type1" id="type1">
                    <option value="-1">请选择一级类型</option>
                    {% for t in type1 %}
                    <option value="{{t.id}}">{{t.name}}</option>
                    {% endfor %}
                </select>
                <select name="type2" id="type2">
                    <option value=""></option>
                </select> <br>
			</div>

			<div class="mi0">商品介绍：</div>
			<div class="mi1">
				<textarea name="intro" id="intro" cols="30" rows="10" class="mi1"></textarea> <br>
			</div>

            <button type="submit" class="btn btn-default submit-btn mi2" >添加商品</button>
        </form>
    </div>


<script>
    $(function(){
        $("#type1").on("change",function(){
            $.ajax({
                url:"/goods/findType/",
                type:"get",
                data:{"goodType_id":$(this).val()},
                success:function(data){
                    $("#type2").empty()
                    data = JSON.parse(data);
                    for (var i = 0; i < data.length; i++){
                        var type = data[i];
                        $op = $("<option>");
                        $op.attr("value", type.pk)
                        $op.text(type.fields.name)
                        $("#type2").append($op)
                    }
                },
                error:function(){
                    alert("网络异常，请重新点击")
                }
            });
        });
    })
</script>

</body>
</html>