<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改商品信息</title>
</head>
<body>
    <h1>上架商品</h1>
    <form action="{% url 'goods:update' g.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        商品名称：<input type="text" name="name" id="name"> <br>
        商品单价：<input type="number" name="price"> <br>
        商品库存：<input type="number" name="stock"> <br>
        <input type="hidden" name="store" value="{{store.id}}"> <br>
        商品图片：<input type="file" name="cover"><button>继续添加</button> <br>
        商品类型：
            <select name="type1" id="type1">
                <option value="-1">请选择一级类型</option>
                {% for t in type1 %}
                <option value="{{t.id}}">{{t.name}}</option>
                {% endfor %}
            </select>
            <select name="type2" id="type2">
                <option value=""></option>
            </select> <br>
        商品介绍：
        <textarea name="intro" id="intro" cols="30" rows="10"></textarea> <br>
        <button type="submit" class="btn btn-default submit-btn">添加商品</button>
    </form>
</body>
</html>